.wrapper {
    padding: 20px 0;
}

.nucleotidePair {
    vertical-align: middle;
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 3px;
}

.center {
    color: red;
}

.match {
    background-color: cyan;
    border-color: teal;
}

.nucleotide {
    box-sizing: border-box;
    text-align: center;
}