.wrapper {
    display: inline-block;
    border: 1px solid black;
}

.field {
    border: 1px solid black;
    position: absolute;
}

.xhairsWrapper,
.xhairsCursor {
    box-sizing: border-box;
    border: 1px solid black;
}

.xhairsWrapper {
    border-bottom: none;
    border-right: none;    
} 

.xhairsCursor {
    border: 1px solid black;
    border-top: none;
    border-left: none;
}